@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* TaskTodo styles*/
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid darkgrey;
    border-radius: 5px;
    background-color: rgba(232,213,247,0.67);
    box-shadow: 10px 10px 5px dimgray;
    width: 51%;
    height: 100%;
    margin: 0 auto;
}

.title {
    color: chocolate;
    font-size: 2.9em;
    font-family: 'Lobster', cursive;
    margin: 0 15px 15px 25px;
    text-align: center;
    text-decoration: underline;
}

.subtitle {
    text-align: right;
    color: burlywood;
    font-size: 1.3em;
    text-shadow: 1.5px .5px blueviolet;
    margin: 0 35% 5% 0;
    line-height: 8px;
    font-family: Rockwell;
}

/*Styles for Itemlist block*/
.tasks_item_list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 2% auto;
    width: 95%;
    height: 50vh;
}

/*Styles for footer block */
.footer {
    width: 100%;
    margin-right: 5%;
}
