@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container {
    background-color: bisque;
    width: 100%;
    height: 100vh;
    padding-left: 2%;
}

.title {
    color: chocolate;
    font-size: 2.9em;
    font-family: 'Lobster', cursive;
    margin: 0 15px 15px 25px;
    text-align: center;
    text-decoration: underline;
}

.subtitle {
    text-align: right;
    color: burlywood;
    font-size: 1.3em;
    text-shadow: 1.5px .5px blueviolet;
    margin: 0 35% 5% 0;
    line-height: 8px;
    font-family: Rockwell;
}

.input_task {
    margin-bottom: 15px;
    font-family: cursive;
    color: cornflowerblue;
}
/*Styles for tasks list*/
.task_list {
    line-height: 40px;
    margin: 0 0 2% 2%;
}

.item {
    font-size: 20px;
    color: red;
}

.done {
    color: lightgreen;
    text-decoration: line-through;

}
/*Styles for footer elements */
.footer {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: cornflowerblue;
}

.count {
    color: red;
    text-decoration: underline;
}