
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
    width: 100vm;
    height: 100vh;
}

.link {
    text-decoration: none;
}

/* box styles*/

.box {
    width: 100%;
    height: 100vh;
}

.menu {
    padding: 0;
    list-style: none;
}

nav {
    margin-left: 30%;
    width: 10%;
    height: 80%;
    text-decoration: none;
    outline: none;
    padding: 6px 0;
    color: #444;
    float: left;
}

nav ul {
    list-style-type: none;
    padding-left: 1%;
    width: 100%;
    height: 100%;
    text-align: center;
}

nav ul li {
    padding: 1%;
    font-size: 20px;
}

nav ul li:hover {
    transition: .3s linear;
    cursor: pointer;
}

.content {
    margin: auto;
    width: 55%;
    height: 80%;
    overflow-y: auto;
}