.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0 .5% .5%;
    margin: 2% auto;
    width: 99%;
}

.footer_title {
    padding-right: 7%;
    font-family: cursive;
    width: 37%;
}

.task_count {
    color: #356EFF;
    margin-left: 3px;
    font: normal normal 20px/14px Roboto;
}

.button {
    background: none;
    border: none;
    outline: none;
    margin-left: 25px;
    font: normal normal 20px/14px 'Pacifico', cursive;
}

.button:hover {
    cursor: pointer;
    background: #e6f1ff;
    border-radius: 20px;
}

.selected {
    background: #356EFF;
    border-radius: 20px;
    color: #fff;
}

.selected:hover {
    background: #356EFF;
}

.selected .items_count {
    color: #fff;
}
