.input {
    border: 1px solid #CCC;
    box-sizing: border-box;
    border-radius: 41px;
    height: 36px;
    width: 100%;
    outline: none;
    padding: 0 12px;
}

.input_empty {
    border: 1px solid red;
    background-color: rgba(231,27,22,0.27);
    box-sizing: border-box;
    border-radius: 41px;
    height: 36px;
    width: 100%;
    outline: none;
    padding: 0 12px;
}

.tasks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: auto;
    position: relative;
}


.addbutton {
    margin-left: 20px;
    background: url(./img/plus.svg) no-repeat;
    height: 50px;
    width: 50px;
}

.addbutton:hover {
    opacity: 0.8;
}